/* Mobile first */

/* p404 blanc sur noir */
.couleur-fond-n .p404-1 {
  background-image: url('../images/404/404-1-10-b.png');
}
/* p404 noir sur blanc */
.couleur-fond-b .p404-1 {
  background-image: url('../images/404/404-1-10-n.png');
}

@media only screen and (min-width: 600px) {

    /* p404 blanc sur noir */
    .couleur-fond-n .p404-1 {
      background-image: url('../images/404/404-1-29-b.png');
    }
    /* p404 noir sur blanc */
    .couleur-fond-b .p404-1 {
      background-image: url('../images/404/404-1-29-n.png');
    }
}

@media only screen and (min-width: 1050px) {
    /* p404 blanc sur noir */
    .couleur-fond-n .p404-1 {
      background-image: url('../images/404/404-1-58-b.png');
    }
    /* p404 noir sur blanc */
    .couleur-fond-b .p404-1 {
      background-image: url('../images/404/404-1-58-n.png');
    }
}
